<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashtrayarcher.smstransport">
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:label="SMS Transport"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SendActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.ashtrayarcher.smstransport.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SendResultReceiver"
            android:exported="false" />

        <receiver
            android:name=".DeliveryResultReceiver"
            android:exported="false" />
    </application>
</manifest>
